@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700&family=Outfit&family=Prompt:wght@100;200;300;400;500;600;700&display=swap");

body {
  background-color: #fff;
  margin: 0%;
  padding: 0%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  opacity: 1;

  animation: fade 0.9s ease-in;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  
}
